.profile {
  width: 100%;
  height: 100vh;
  /* night theme gradient bg */
  background: rgb(153, 148, 231);
  background: linear-gradient(0deg, rgba(153, 148, 231, 1) 0%, rgba(43, 46, 88, 1) 49%, rgba(26, 26, 40, 1) 100%);
  display: flex;
  justify-content: center;
}

.profile-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 160rem;
  z-index: 1;
  padding-top: 4rem;
}

.header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10rem;
  color: var(--white);
}

.header img {
  height: 8rem;
  width: 16rem;
  object-fit: cover;
}
.profile-picture {
  align-self: flex-end;
}

.suisei {
  height: 85vh;
  transition: all 0.2s ease-in-out;
  padding: 0 10rem 0 0;
}

@media screen and (max-width: 1400px) {
  .header {
    width: 100%;
    height: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10rem;
    color: var(--white);
  }

}

@media screen and (max-width: 1230px) {
  .suisei {
    height: 45rem;
    padding: 0;
  }
  .profile-picture {
    align-self: center;
  }

  .profile-wrap {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    z-index: 1;
    flex-direction: column;
  }

  .header {
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 5rem 2rem 5rem;
    color: var(--white);
    text-align: center;
  }

  @media screen and (max-width: 830px) {

    .suisei {
      height: 45rem;
    }

    .header {
      width: 100%;
      height: 30rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5rem 5rem 2rem 5rem;
      color: var(--white);
      text-align: center;
    }

  }

  @media screen and (max-width: 630px) {

    .suisei {
      height: 40rem;
    }

  }

  @media screen and (max-width: 530px) {

    .suisei {
      height: 35rem;
    }

    .header {
      width: 100%;
      height: 20rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3rem 3rem 5rem 3rem;
      color: var(--white);
      text-align: center;
      flex-grow: 1;
    }
    .profile-wrap {
      justify-content: flex-end;
    }

  }
}