@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Quicksand", sans-serif;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --main: #E6F0FF;
  --accent: #3765DE;
  --dark-blue: #212E42;
}

html {
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
  color: var(--black);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 8rem;
  margin: 0;
}

h2 {
  font-size: 4rem;
  margin: 0;
  font-weight: 500;
}

h3 {
  font-size: 3rem;
  margin: 0;
  font-weight: 400;
}